<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <form-editor
      v-model="form"
      :errors="errors"
      @submit="onSubmit"
    ></form-editor>
    <b-link :to="`/forms/${form.id}/preview/`">
      {{ $t('app.previewForm') }}
    </b-link>
  </div>
</template>

<script>
import FormEditor from '~/components/FormEditor/FormEditor.vue'
export default {
  components: { FormEditor },
  layout: 'app',
  async asyncData({ route, $api }) {
    const { data } = await $api.get(`/forms/${route.params.id}`)
    return { form: data }
  },
  data() {
    // TODO create factory for forms (TypeScript?)
    return {
      form: {
        id: null,
        name: '',
        description: '',
        schema: {
          fields: [],
          groups: []
        }
      },
      errors: []
    }
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: this.$t('app.forms'),
          href: '/forms'
        },
        {
          text: this.form.name,
          href: `/forms/${this.form.id}`
        }
      ]
    }
  },
  methods: {
    async onSubmit(value) {
      try {
        const { data } = await this.$api.put(`/forms/${this.form.id}`, value)
        console.log(data)
      } catch (err) {
        this.errors.push(err)
      }
    }
  }
}
</script>
