<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <form-preview
      class="preview"
      :name="meta.name"
      :description="meta.description"
      :schema="schema"
    ></form-preview>
  </div>
</template>

<style scoped></style>

<script>
export default {
  layout: 'app',
  async asyncData({ route, $api }) {
    const { data } = await $api.get(`/forms/${route.params.id}`)
    return {
      meta: {
        name: data.name,
        description: data.description
      },
      schema: data.schema
    }
  },
  data() {
    return {
      show: true,
      meta: {},
      model: {},
      schema: {
        // groups: [
        //   {
        //     legend: 'User Details',
        //     fields: [
        //       {
        //         type: 'input',
        //         inputType: 'text',
        //         label: 'ID (disabled text field)',
        //         model: 'id',
        //         readonly: true,
        //         disabled: true
        //       },
        //       {
        //         type: 'input',
        //         inputType: 'text',
        //         label: 'Name',
        //         model: 'name',
        //         id: 'user_name',
        //         placeholder: 'Your name',
        //         featured: true,
        //         required: true
        //       },
        //       {
        //         type: 'input',
        //         inputType: 'email',
        //         label: 'E-mail',
        //         model: 'email',
        //         placeholder: "User's e-mail address"
        //       },
        //       {
        //         type: 'input',
        //         inputType: 'password',
        //         label: 'Password',
        //         model: 'password',
        //         min: 6,
        //         required: true,
        //         hint: 'Minimum 6 characters',
        //         validator: 'string'
        //       }
        //     ]
        //   },
        //   {
        //     legend: 'Skills & Status',
        //     fields: [
        //       {
        //         type: 'select',
        //         label: 'Skills',
        //         model: 'skills',
        //         values: ['Javascript', 'VueJS', 'CSS3', 'HTML5']
        //       },
        //       {
        //         type: 'checkbox',
        //         label: 'Status',
        //         model: 'status',
        //         default: true
        //       }
        //     ]
        //   }
        // ]
      },
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true,
        validateAsync: true
      }
    }
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: this.$t('app.forms'),
          href: '/forms'
        },
        {
          text: this.meta.name,
          href: `/forms/${this.$route.params.id}/edit`
        },
        {
          text: this.$t('app.previewFormBreadcrumb')
        }
      ]
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      console.log(this.form)
      // TODO change email should send a new confirmation email
    },
    onReset(evt) {
      evt.preventDefault()
      this.form.username = ''
      this.form.email = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
