<template>
  <div class="container-fluid">
    <div class="form">
      <h3 class="p-2">{{ $t('setnewpasswordpage.title') }}</h3>
      <b-form v-if="show" class="p-2" @submit="onSubmit">
        <b-form-group
          id="input-group-1"
          :label="$t('setnewpasswordpage.newPasswordLabel')"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="form.password"
            type="password"
            required
            :placeholder="$t('loginpage.passwordPlaceholder')"
          ></b-form-input>
        </b-form-group>
        <div v-if="hasError" class="text-danger my-2">
          {{ $t(error) }}
        </div>
        <progress-button
          :is-loading="isLoading"
          :loading-text="$t('app.loadingText')"
          type="submit"
          variant="primary"
          class="mt-4"
        >
          {{ $t('app.submitButtonText') }}
        </progress-button>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'public',
  data() {
    return {
      form: {
        password: ''
      },
      show: true,
      hasError: false,
      isLoading: false
    }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()
      try {
        const { password } = this.form
        this.isLoading = true
        await this.$api.post('/auth/reset', {
          password,
          reset_token: this.$route.params.token
        })
        this.reset()
        this.$bvToast.toast(this.$t('app.successRequest'), {
          toaster: 'b-toaster-top-center',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000,
          noCloseButton: true,
          append: true
        })
        setTimeout(() => {
          this.$router.push('/auth/login')
        }, 3000)
      } catch (err) {
        console.log(err)
        if (err.response.status !== 200) {
          this.hasError = true
          // TODO standarise API error responses
          this.error = 'could not reset passwrd :/'
          setTimeout(() => {
            this.hasError = false
          }, 3000)
          return
        }
        throw err
      } finally {
        this.isLoading = false
      }
    },
    reset() {
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style scoped>
.form {
  padding: 2rem 1rem;
  width: 320px;
  border-radius: 3px;
  border: 1px solid #b2c0ce;
}
</style>
