<template>
  <div v-html="compiledMarkdown" class="md-editor"></div>
</template>

<style scoped>
.md-editor {
  padding: 0.375rem 0.75rem;
}
</style>

<script>
import marked from 'marked'
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    compiledMarkdown() {
      return marked(this.value, { sanitize: false })
    }
  }
}
</script>

<style scoped></style>
