<template>
  <b-breadcrumb :items="items" class="breadcrumb"></b-breadcrumb>
</template>

<script>
export default {
  props: ['items']
}
</script>

<style scoped>
.breadcrumb {
  background-color: transparent;
  padding: 0;
}
</style>
