<template>
  <b-navbar variant="light">
    <b-navbar-brand v-if="$auth.loggedIn" href="/dashboard"
      >LiberaForms</b-navbar-brand
    >
    <b-navbar-brand v-else href="/">LiberaForms</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown> -->
        <b-nav-item-dropdown v-if="$auth.loggedIn" right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <span>{{ $auth.user.username }}</span>
            <b-avatar
              variant="primary"
              size="2em"
              :text="getAvatarText()"
            ></b-avatar>
          </template>
          <b-dropdown-item href="/profile">Profile</b-dropdown-item>
          <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-else-if="!isLoginPage()" href="/login">Entrar</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    isLoginPage() {
      return this.$router.currentRoute.name === 'login'
    },
    getAvatarText() {
      const { username } = this.$auth.user
      return username
        .split(' ')
        .map((s) => s.charAt(0).toUpperCase())
        .join('')
    }
  }
}
</script>
