<template>
  <div>
    <b-sidebar
      sidebar-class="sidebar"
      shadow
      no-header-close
      no-close-on-route-change
      visible
    >
      <template #title>
        <b-nav vertical>
          <b-nav-item-dropdown id="my-nav-dropdown" toggle-class="brand" left>
            <template #button-content>
              <b-avatar
                rounded="sm"
                variant="primary"
                size="1.5em"
                :text="getAvatarText()"
              ></b-avatar>
              <div class="user-info">
                <span class="user-name">{{ $auth.user.username }}</span>
                <span class="email">{{ $auth.user.email }}</span>
              </div>
            </template>
            <b-dropdown-item href="/profile">Profile</b-dropdown-item>
            <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav>
      </template>
      <div class="menus">
        <b-nav vertical>
          <b-nav-item
            v-for="item in links"
            :key="item.href"
            :href="item.href"
            :active="isActive(item.href)"
          >
            {{ $t(item.title) }}
          </b-nav-item>
        </b-nav>
      </div>
    </b-sidebar>
  </div>
</template>

<style>
.brand {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  width: 132px;
}
.user-name {
  font-size: var(--font-large);
}
.email {
  font-size: var(--font-small);
  color: var(--grey-mid-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}
.menus {
  margin-top: 16px;
}
.nav-link.active {
  font-weight: bold;
}
.sidebar {
  width: var(--sidebar-width);
}
</style>

<script>
export default {
  props: {
    links: {
      type: Array,
      default() {
        return []
      }
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    isActive(href) {
      return window.location.href.includes(href)
    },
    getAvatarText() {
      const { username } = this.$auth.user
      return (
        username &&
        username
          .split(' ')
          .map((s) => s.charAt(0).toUpperCase())
          .join('')
      )
    }
  }
}
</script>
