<template>
  <b-form class="header">
    <b-form-group
      id="input-group"
      :label="$t('app.nameLabel')"
      label-for="name-input"
    >
      <b-form-input
        id="name-input"
        v-model="model.name"
        :placeholder="$t('app.namePlaceholder')"
        type="text"
        required
      ></b-form-input>
      <b-form-invalid-feedback :state="nameIsValid">
        {{ $t('app.nameIsInvalid') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <form-description-input
      id="description-textarea"
      v-model="model.description"
      :label="$t('app.descriptionLabel')"
      :placeholder="$t('app.descriptionPlaceholder')"
      rows="3"
      max-rows="6"
    ></form-description-input>
  </b-form>
</template>

<style scoped>
.header {
  border: 1px solid var(--border-color);
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
</style>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      model: this.value
    }
  },
  computed: {
    nameIsValid() {
      return Boolean(this.model.name && this.model.name.length > 0)
    }
  },
  methods: {}
}
</script>
