<template>
  <div class="container-fluid">
    <breadcrumb :items="breadcrumbs" class="breadcrumb"></breadcrumb>
    <data-table name="users" :items="itemsWithActions" :fields="fields">
    </data-table>
  </div>
</template>

<script>
import moment from 'moment'
function formatDate(date) {
  return moment(date).format('L')
}
const mapUser = (user) => {
  return {
    ...user,
    createdAt: formatDate(user.createdAt),
    updatedAt: formatDate(user.updatedAt)
  }
}
export default {
  layout: 'app',
  async asyncData({ $api }) {
    const { data } = await $api.get('/users')
    return data
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: this.$t('app.users'),
          href: '/users'
        }
      ],
      items: [],
      fields: [
        'username',
        'email',
        'group',
        'createdAt',
        { key: 'actions', label: this.$t('app.userActions') }
      ],
      meta: {}
    }
  },
  computed: {
    itemsWithActions() {
      return this.items.map((User) => ({
        ...mapUser(User),
        actions: [
          {
            name: 'remove',
            variant: 'danger',
            size: 'sm',
            text: this.$t('app.deleteUser'),
            fn: ({ id }) => this.deleteUser(id)
          }
        ]
      }))
    }
  },
  methods: {
    deleteUser(id) {
      alert(`TODO: delete User to ${id}`)
    }
  }
}
</script>
