<template>
  <div>
    <Sidebar :links="links" />
    <Nuxt class="page" />
  </div>
</template>

<script>
import { MENU_ITEMS } from '~/pages/constants'

export default {
  computed: {
    links() {
      const userGroup = this.getUserGroup()
      return MENU_ITEMS.filter((item) => item.groups.includes(userGroup))
    }
  },
  methods: {
    getUserGroup() {
      return this.$auth.user.group
    }
  }
}
</script>

<style scoped>
.page {
  padding: var(--spacing-default);
  padding-left: calc(var(--sidebar-width) + var(--spacing-default));
  background-color: var(--grey-lightest);
  height: 100vh;
}
</style>
