<template>
  <div class="container-fluid">
    <b-jumbotron>
      <template #header><div class="header">LiberaForms</div></template>
      <template #lead>
        <div class="lead">{{ $t('homepage.lead') }}</div>
      </template>
      <b-button variant="primary" class="btn-block mt-5" href="/auth/login">
        {{ $t('homepage.signInCta') }}
      </b-button>
      <hr class="my-3" />
      <p class="helpText">
        {{ $t('homepage.LiberaFormsSiteText') }}
        <b-link
          href="https://liberaforms.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          liberaforms.org
        </b-link>
      </p>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'public'
}
</script>

<style>
.header {
  font-size: 48px;
  font-weight: 500;
}
.lead {
  text-align: right;
}
.helpText {
  margin-top: 8px;
}
</style>
