<template>
  <div>
    <slot name="header-actions" class="right"></slot>
    <b-table striped hover :items="items" :fields="fields">
      <slot name="custom-fields"></slot>
      <template #cell(name)="data">
        <b-link v-if="link" :to="link(data.item.id)">{{ data.value }}</b-link>
        <span v-else>{{ data.value }}</span>
      </template>
      <template #cell(actions)="data">
        <div class="actions">
          <!-- <b-form-checkbox
            v-model="data.item.isPublished"
            name="check-button"
            class="switch"
            switch
          >
            {{ $t('app.published') }}
          </b-form-checkbox> -->
          <div class="buttons">
            <div
              v-for="action in data.item.actions"
              :key="action.name"
              class="button"
            >
              <b-button
                :variant="action.variant"
                :size="action.size"
                @click="() => action.fn(data.item)"
              >
                {{ action.text }}
              </b-button>
            </div>
          </div>
        </div>
      </template>
    </b-table>
  </div>
</template>

<style scoped>
.actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.buttons {
  margin-left: var(--spacing-small);
}
.right {
  float: right;
}
</style>

<script>
import moment from 'moment'
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default() {
        return []
      }
    },
    fields: {
      type: Array,
      default() {
        return []
      }
    },
    link: {
      type: Function,
      default: null
    }
  },
  data() {
    return {
      // items: this.items,
      // fields: this.fields
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format('L')
    }
  }
}
</script>
